USE [dedb]
GO
ALTER TABLE [dbo].[userSetValues] DROP CONSTRAINT [FK_userSetValues_setValues]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [FK_users_countriesCodes]
GO
ALTER TABLE [dbo].[setValues] DROP CONSTRAINT [FK_setValues_setting]
GO
ALTER TABLE [dbo].[nationalities] DROP CONSTRAINT [FK_nationalities_users1]
GO
ALTER TABLE [dbo].[nationalities] DROP CONSTRAINT [FK_nationalities_users]
GO
ALTER TABLE [dbo].[error] DROP CONSTRAINT [FK_error_users]
GO
ALTER TABLE [dbo].[customers] DROP CONSTRAINT [FK_customers_users1]
GO
ALTER TABLE [dbo].[customers] DROP CONSTRAINT [FK_customers_users]
GO
ALTER TABLE [dbo].[customers] DROP CONSTRAINT [FK_customers_nationalities]
GO
ALTER TABLE [dbo].[cities] DROP CONSTRAINT [FK_cities_countriesCodes]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [DF_users_balance]
GO
ALTER TABLE [dbo].[countriesCodes] DROP CONSTRAINT [DF_countriesCodes_isDefault]
GO
/****** Object:  Table [dbo].[userSetValues]    Script Date: 8/8/2023 4:56:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[userSetValues]') AND type in (N'U'))
DROP TABLE [dbo].[userSetValues]
GO
/****** Object:  Table [dbo].[users]    Script Date: 8/8/2023 4:56:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
DROP TABLE [dbo].[users]
GO
/****** Object:  Table [dbo].[setValues]    Script Date: 8/8/2023 4:56:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[setValues]') AND type in (N'U'))
DROP TABLE [dbo].[setValues]
GO
/****** Object:  Table [dbo].[setting]    Script Date: 8/8/2023 4:56:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[setting]') AND type in (N'U'))
DROP TABLE [dbo].[setting]
GO
/****** Object:  Table [dbo].[nationalities]    Script Date: 8/8/2023 4:56:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[nationalities]') AND type in (N'U'))
DROP TABLE [dbo].[nationalities]
GO
/****** Object:  Table [dbo].[error]    Script Date: 8/8/2023 4:56:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[error]') AND type in (N'U'))
DROP TABLE [dbo].[error]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 8/8/2023 4:56:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[customers]') AND type in (N'U'))
DROP TABLE [dbo].[customers]
GO
/****** Object:  Table [dbo].[countriesCodes]    Script Date: 8/8/2023 4:56:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[countriesCodes]') AND type in (N'U'))
DROP TABLE [dbo].[countriesCodes]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 8/8/2023 4:56:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cities]') AND type in (N'U'))
DROP TABLE [dbo].[cities]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 8/8/2023 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[cityId] [int] IDENTITY(1,1) NOT NULL,
	[cityCode] [nvarchar](50) NULL,
	[countryId] [int] NULL,
 CONSTRAINT [PK_cities] PRIMARY KEY CLUSTERED 
(
	[cityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[countriesCodes]    Script Date: 8/8/2023 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countriesCodes](
	[countryId] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[currency] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[isDefault] [tinyint] NOT NULL,
	[timeZoneName] [nvarchar](100) NULL,
	[timeZoneOffset] [nvarchar](100) NULL,
 CONSTRAINT [PK_countriesCodes] PRIMARY KEY CLUSTERED 
(
	[countryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 8/8/2023 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[custId] [bigint] IDENTITY(1,1) NOT NULL,
	[custname] [nvarchar](500) NULL,
	[lastName] [nvarchar](500) NULL,
	[mobile] [nvarchar](500) NULL,
	[department] [nvarchar](500) NULL,
	[barcode] [nvarchar](500) NULL,
	[printDate] [datetime2](7) NULL,
	[image] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[createUserId] [bigint] NULL,
	[updateUserId] [bigint] NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
	[isActive] [bit] NULL,
	[nationalityId] [bigint] NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[custId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[error]    Script Date: 8/8/2023 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[error](
	[errorId] [int] IDENTITY(1,1) NOT NULL,
	[num] [nvarchar](200) NULL,
	[msg] [ntext] NULL,
	[stackTrace] [ntext] NULL,
	[targetSite] [ntext] NULL,
	[createDate] [datetime2](7) NULL,
	[createUserId] [bigint] NULL,
 CONSTRAINT [PK_error] PRIMARY KEY CLUSTERED 
(
	[errorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nationalities]    Script Date: 8/8/2023 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nationalities](
	[nationalityId] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](500) NULL,
	[notes] [nvarchar](max) NULL,
	[isActive] [bit] NULL,
	[createUserId] [bigint] NULL,
	[updateUserId] [bigint] NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_nationalities] PRIMARY KEY CLUSTERED 
(
	[nationalityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[setting]    Script Date: 8/8/2023 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[setting](
	[settingId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[notes] [ntext] NULL,
 CONSTRAINT [PK_setting] PRIMARY KEY CLUSTERED 
(
	[settingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[setValues]    Script Date: 8/8/2023 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[setValues](
	[valId] [int] IDENTITY(1,1) NOT NULL,
	[value] [nvarchar](max) NULL,
	[isDefault] [int] NOT NULL,
	[isSystem] [int] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[settingId] [int] NULL,
 CONSTRAINT [PK_setValues] PRIMARY KEY CLUSTERED 
(
	[valId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 8/8/2023 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userId] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](500) NOT NULL,
	[AccountName] [nvarchar](500) NOT NULL,
	[lastName] [nvarchar](500) NULL,
	[company] [nvarchar](500) NULL,
	[email] [nvarchar](500) NULL,
	[phone] [nvarchar](500) NULL,
	[mobile] [nvarchar](500) NULL,
	[fax] [nvarchar](500) NULL,
	[address] [nvarchar](500) NULL,
	[agentLevel] [nvarchar](500) NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
	[password] [nvarchar](500) NULL,
	[type] [nvarchar](10) NULL,
	[image] [ntext] NULL,
	[notes] [nvarchar](500) NULL,
	[balance] [decimal](20, 3) NOT NULL,
	[createUserId] [bigint] NULL,
	[updateUserId] [bigint] NULL,
	[isActive] [int] NULL,
	[code] [nvarchar](500) NULL,
	[isAdmin] [bit] NULL,
	[groupId] [int] NULL,
	[balanceType] [tinyint] NULL,
	[job] [nvarchar](100) NULL,
	[isOnline] [tinyint] NULL,
	[countryId] [int] NULL,
 CONSTRAINT [PK_agents] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userSetValues]    Script Date: 8/8/2023 4:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userSetValues](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[userId] [bigint] NULL,
	[valId] [int] NULL,
	[note] [nvarchar](max) NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
	[createUserId] [bigint] NULL,
	[updateUserId] [bigint] NULL,
 CONSTRAINT [PK_userSetValues] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cities] ON 

INSERT [dbo].[cities] ([cityId], [cityCode], [countryId]) VALUES (1, N'1', 2)
INSERT [dbo].[cities] ([cityId], [cityCode], [countryId]) VALUES (2, N'2', 2)
INSERT [dbo].[cities] ([cityId], [cityCode], [countryId]) VALUES (3, N'3', 2)
GO
SET IDENTITY_INSERT [dbo].[cities] OFF
GO
SET IDENTITY_INSERT [dbo].[countriesCodes] ON 

INSERT [dbo].[countriesCodes] ([countryId], [code], [currency], [name], [isDefault], [timeZoneName], [timeZoneOffset]) VALUES (1, N'+965', N'KWD', N'Kuwait', 1, N'Arab Standard Time', NULL)
INSERT [dbo].[countriesCodes] ([countryId], [code], [currency], [name], [isDefault], [timeZoneName], [timeZoneOffset]) VALUES (2, N'+966', N'SAR', N'Saudi Arabia', 0, N'Arab Standard Time', NULL)
INSERT [dbo].[countriesCodes] ([countryId], [code], [currency], [name], [isDefault], [timeZoneName], [timeZoneOffset]) VALUES (3, N'+968', N'OMR', N'Oman', 0, N'Arabian Standard Time', NULL)
SET IDENTITY_INSERT [dbo].[countriesCodes] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([custId], [custname], [lastName], [mobile], [department], [barcode], [printDate], [image], [notes], [createUserId], [updateUserId], [createDate], [updateDate], [isActive], [nationalityId]) VALUES (4, N'demo ', N'customer', N'+965-959595959', N'', N'qjgtk', NULL, NULL, N'', 1, 1, CAST(N'2023-05-15T17:16:32.9577927' AS DateTime2), CAST(N'2023-05-15T17:16:32.9577927' AS DateTime2), 1, NULL)
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[error] ON 

INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (1, N'-2147467261', N'Value cannot be null.
Parameter name: source', N'   at System.Linq.Enumerable.Where[TSource](IEnumerable`1 source, Func`2 predicate)
   at BookAccountApp.View.applications.uc_programs.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\applications\us_programs.xaml.cs:line 425
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.applications.uc_programs.<Tgl_isActive_Checked>d__14.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\applications\us_programs.xaml.cs:line 181', N'System.Collections.Generic.IEnumerable`1[TSource] Where[TSource](System.Collections.Generic.IEnumerable`1[TSource], System.Func`2[TSource,System.Boolean])', CAST(N'2023-07-10T13:17:24.0868739' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (2, N'-2147467261', N'Value cannot be null.
Parameter name: source', N'   at System.Linq.Enumerable.Where[TSource](IEnumerable`1 source, Func`2 predicate)
   at BookAccountApp.View.applications.uc_programs.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\applications\us_programs.xaml.cs:line 425
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.applications.uc_programs.<UserControl_Loaded>d__10.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\applications\us_programs.xaml.cs:line 83', N'System.Collections.Generic.IEnumerable`1[TSource] Where[TSource](System.Collections.Generic.IEnumerable`1[TSource], System.Func`2[TSource,System.Boolean])', CAST(N'2023-07-10T13:17:24.3945897' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (3, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.RefreshUsersView() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 512
   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 502
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void RefreshUsersView()', CAST(N'2023-07-10T13:38:27.2398677' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (4, N'-2147467261', N'Value cannot be null.
Parameter name: source', N'   at System.Linq.Enumerable.ToList[TSource](IEnumerable`1 source)
   at BookAccountApp.Classes.FillCombo.<fillCountries>d__37.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\Classes\FillCombo.cs:line 232
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<UserControl_Loaded>d__10.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 82', N'System.Collections.Generic.List`1[TSource] ToList[TSource](System.Collections.Generic.IEnumerable`1[TSource])', CAST(N'2023-07-10T13:38:27.7021291' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (5, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.RefreshUsersView() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 512
   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 502
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void RefreshUsersView()', CAST(N'2023-07-10T13:43:15.1861230' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (6, N'-2147467261', N'Value cannot be null.
Parameter name: source', N'   at System.Linq.Enumerable.ToList[TSource](IEnumerable`1 source)
   at BookAccountApp.Classes.FillCombo.<fillCountries>d__37.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\Classes\FillCombo.cs:line 232
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<UserControl_Loaded>d__10.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 82', N'System.Collections.Generic.List`1[TSource] ToList[TSource](System.Collections.Generic.IEnumerable`1[TSource])', CAST(N'2023-07-10T13:43:15.6539315' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (7, N'-2147467261', N'Value cannot be null.
Parameter name: source', N'   at System.Linq.Enumerable.ToList[TSource](IEnumerable`1 source)
   at BookAccountApp.Classes.FillCombo.<fillCountries>d__37.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\Classes\FillCombo.cs:line 232
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<UserControl_Loaded>d__10.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 82', N'System.Collections.Generic.List`1[TSource] ToList[TSource](System.Collections.Generic.IEnumerable`1[TSource])', CAST(N'2023-07-10T13:43:22.0033953' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (8, N'-2147467261', N'Value cannot be null.
Parameter name: source', N'   at System.Linq.Enumerable.ToList[TSource](IEnumerable`1 source)
   at BookAccountApp.Classes.FillCombo.<fillCountries>d__37.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\Classes\FillCombo.cs:line 232
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<UserControl_Loaded>d__10.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 82', N'System.Collections.Generic.List`1[TSource] ToList[TSource](System.Collections.Generic.IEnumerable`1[TSource])', CAST(N'2023-07-10T13:43:29.8860350' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (9, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.RefreshUsersView() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 512
   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 502
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void RefreshUsersView()', CAST(N'2023-07-10T13:59:46.2070414' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (10, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.RefreshUsersView() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 512
   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 502
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void RefreshUsersView()', CAST(N'2023-07-10T14:07:40.0723543' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (11, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.RefreshUsersView() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 512
   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 502
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void RefreshUsersView()', CAST(N'2023-07-10T15:06:01.3457669' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (12, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.RefreshUsersView() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 512
   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 502
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void RefreshUsersView()', CAST(N'2023-07-10T15:11:24.6605400' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (13, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.RefreshUsersView() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 512
   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 502
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void RefreshUsersView()', CAST(N'2023-07-10T15:20:58.6021936' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (14, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.RefreshUsersView() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 512
   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 502
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void RefreshUsersView()', CAST(N'2023-07-10T15:22:48.1548919' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (15, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 502
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void MoveNext()', CAST(N'2023-07-10T15:28:21.8662478' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (16, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.RefreshUsersView() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 514
   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 503
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void RefreshUsersView()', CAST(N'2023-07-10T15:30:32.0778769' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (17, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.RefreshUsersView() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 514
   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 503
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void RefreshUsersView()', CAST(N'2023-07-10T15:33:02.6654975' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (18, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.RefreshUsersView() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 514
   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 503
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void RefreshUsersView()', CAST(N'2023-07-10T15:36:36.9455168' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (19, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.RefreshUsersView() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 513
   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 503
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void RefreshUsersView()', CAST(N'2023-07-11T15:41:38.1758300' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (20, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.sectionData.uc_users.RefreshUsersView() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 513
   at BookAccountApp.View.sectionData.uc_users.<Search>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 503
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()
   at BookAccountApp.View.sectionData.uc_users.<Tgl_isActive_Checked>d__17.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\sectionData\uc_users.xaml.cs:line 384', N'Void RefreshUsersView()', CAST(N'2023-07-11T16:51:13.4263341' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (21, N'-2147024809', N'The path is not of a legal form.', N'   at System.IO.Path.NewNormalizePath(String path, Int32 maxPathLength, Boolean expandShortPaths)
   at System.IO.Path.NormalizePath(String path, Boolean fullCheck, Int32 maxPathLength, Boolean expandShortPaths)
   at System.IO.Path.GetFullPathInternal(String path)
   at System.IO.Path.GetFullPath(String path)
   at System.Drawing.IntSecurity.UnsafeGetFullPath(String fileName)
   at System.Drawing.IntSecurity.DemandReadFileIO(String fileName)
   at System.Drawing.Image.FromFile(String filename, Boolean useEmbeddedColorManagement)
   at System.Drawing.Image.FromFile(String filename)
   at BookAccountApp.Classes.SetValues.<saveImage>d__35.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\Classes\ApiClasses\setValues.cs:line 456
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at BookAccountApp.View.windows.wd_companyInfo.<Btn_save_Click>d__45.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\windows\wd_companyInfo.xaml.cs:line 434', N'System.String NewNormalizePath(System.String, Int32, Boolean)', CAST(N'2023-07-11T17:23:31.9971618' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (1019, N'-2146232062', N'The entry ''bookdbEntities'' has already been added.', N'   at System.Configuration.ConfigurationElementCollection.BaseAdd(ConfigurationElement element, Boolean throwIfExists, Boolean ignoreLocks)
   at System.Configuration.ConfigurationElementCollection.BaseAdd(ConfigurationElement element)
   at System.Configuration.ConnectionStringSettingsCollection.Add(ConnectionStringSettings settings)
   at BookAccountApp.View.windows.wd_logIn.AddNewConnectionString() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\windows\wd_logIn.xaml.cs:line 157
   at BookAccountApp.View.windows.wd_logIn.<btnLogIn_Click>d__9.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\windows\wd_logIn.xaml.cs:line 175', N'Void BaseAdd(System.Configuration.ConfigurationElement, Boolean, Boolean)', CAST(N'2023-07-29T19:27:01.4929051' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (2019, N'-2146233038', N'Could not find any resources appropriate for the specified culture or the neutral culture.  Make sure "DataEntryApp.ar_file.resources" was correctly embedded or linked into assembly "BookAccountApp" at compile time, or that all the satellite assemblies required are loadable and fully signed.', N'   at System.Resources.ManifestBasedResourceGroveler.HandleResourceStreamMissing(String fileName)
   at System.Resources.ManifestBasedResourceGroveler.GrovelForResourceSet(CultureInfo culture, Dictionary`2 localResourceSets, Boolean tryParents, Boolean createIfNotExists, StackCrawlMark& stackMark)
   at System.Resources.ResourceManager.InternalGetResourceSet(CultureInfo requestedCulture, Boolean createIfNotExists, Boolean tryParents, StackCrawlMark& stackMark)
   at System.Resources.ResourceManager.InternalGetResourceSet(CultureInfo culture, Boolean createIfNotExists, Boolean tryParents)
   at System.Resources.ResourceManager.GetString(String name, CultureInfo culture)
   at System.Resources.ResourceManager.GetString(String name)
   at DataEntryApp.View.windows.wd_logIn.translate() in D:\Github\Data-Entry-App\DataEntryApp\DataEntryApp\View\windows\wd_logIn.xaml.cs:line 325
   at DataEntryApp.View.windows.wd_logIn.Window_Loaded(Object sender, RoutedEventArgs e) in D:\Github\Data-Entry-App\DataEntryApp\DataEntryApp\View\windows\wd_logIn.xaml.cs:line 90', N'Void HandleResourceStreamMissing(System.String)', CAST(N'2023-08-08T15:27:16.8257470' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (2020, N'-2146233038', N'Could not find any resources appropriate for the specified culture or the neutral culture.  Make sure "DataEntryApp.ar_file.resources" was correctly embedded or linked into assembly "BookAccountApp" at compile time, or that all the satellite assemblies required are loadable and fully signed.', N'   at System.Resources.ManifestBasedResourceGroveler.HandleResourceStreamMissing(String fileName)
   at System.Resources.ManifestBasedResourceGroveler.GrovelForResourceSet(CultureInfo culture, Dictionary`2 localResourceSets, Boolean tryParents, Boolean createIfNotExists, StackCrawlMark& stackMark)
   at System.Resources.ResourceManager.InternalGetResourceSet(CultureInfo requestedCulture, Boolean createIfNotExists, Boolean tryParents, StackCrawlMark& stackMark)
   at System.Resources.ResourceManager.InternalGetResourceSet(CultureInfo culture, Boolean createIfNotExists, Boolean tryParents)
   at System.Resources.ResourceManager.GetString(String name, CultureInfo culture)
   at System.Resources.ResourceManager.GetString(String name)
   at DataEntryApp.View.windows.wd_logIn.translate() in D:\Github\Data-Entry-App\DataEntryApp\DataEntryApp\View\windows\wd_logIn.xaml.cs:line 325
   at DataEntryApp.View.windows.wd_logIn.Window_Loaded(Object sender, RoutedEventArgs e) in D:\Github\Data-Entry-App\DataEntryApp\DataEntryApp\View\windows\wd_logIn.xaml.cs:line 90', N'Void HandleResourceStreamMissing(System.String)', CAST(N'2023-08-08T15:28:33.6359289' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (2021, N'-2146233038', N'Could not find any resources appropriate for the specified culture or the neutral culture.  Make sure "DataEntryApp.ar_file.resources" was correctly embedded or linked into assembly "BookAccountApp" at compile time, or that all the satellite assemblies required are loadable and fully signed.', N'   at System.Resources.ManifestBasedResourceGroveler.HandleResourceStreamMissing(String fileName)
   at System.Resources.ManifestBasedResourceGroveler.GrovelForResourceSet(CultureInfo culture, Dictionary`2 localResourceSets, Boolean tryParents, Boolean createIfNotExists, StackCrawlMark& stackMark)
   at System.Resources.ResourceManager.InternalGetResourceSet(CultureInfo requestedCulture, Boolean createIfNotExists, Boolean tryParents, StackCrawlMark& stackMark)
   at System.Resources.ResourceManager.InternalGetResourceSet(CultureInfo culture, Boolean createIfNotExists, Boolean tryParents)
   at System.Resources.ResourceManager.GetString(String name, CultureInfo culture)
   at System.Resources.ResourceManager.GetString(String name)
   at DataEntryApp.Classes.HelpClass.SetValidate(Path p_error, String tr) in D:\Github\Data-Entry-App\DataEntryApp\DataEntryApp\Classes\HelpClass.cs:line 122
   at DataEntryApp.View.windows.wd_logIn.validateEmpty(Object sender, RoutedEventArgs e) in D:\Github\Data-Entry-App\DataEntryApp\DataEntryApp\View\windows\wd_logIn.xaml.cs:line 276', N'Void HandleResourceStreamMissing(System.String)', CAST(N'2023-08-08T15:28:40.5477243' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[error] OFF
GO
SET IDENTITY_INSERT [dbo].[setting] ON 

INSERT [dbo].[setting] ([settingId], [name], [notes]) VALUES (1, N'com_name', NULL)
INSERT [dbo].[setting] ([settingId], [name], [notes]) VALUES (2, N'com_address', NULL)
INSERT [dbo].[setting] ([settingId], [name], [notes]) VALUES (3, N'com_email', NULL)
SET IDENTITY_INSERT [dbo].[setting] OFF
GO
SET IDENTITY_INSERT [dbo].[setValues] ON 

INSERT [dbo].[setValues] ([valId], [value], [isDefault], [isSystem], [notes], [settingId]) VALUES (1, N'en', 0, 0, NULL, 9)
INSERT [dbo].[setValues] ([valId], [value], [isDefault], [isSystem], [notes], [settingId]) VALUES (2, N'ar', 0, 0, NULL, 9)
INSERT [dbo].[setValues] ([valId], [value], [isDefault], [isSystem], [notes], [settingId]) VALUES (12, N'0', 1, 1, NULL, 11)
SET IDENTITY_INSERT [dbo].[setValues] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[countriesCodes] ADD  CONSTRAINT [DF_countriesCodes_isDefault]  DEFAULT ((0)) FOR [isDefault]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_balance]  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[cities]  WITH CHECK ADD  CONSTRAINT [FK_cities_countriesCodes] FOREIGN KEY([countryId])
REFERENCES [dbo].[countriesCodes] ([countryId])
GO
ALTER TABLE [dbo].[cities] CHECK CONSTRAINT [FK_cities_countriesCodes]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_nationalities] FOREIGN KEY([nationalityId])
REFERENCES [dbo].[nationalities] ([nationalityId])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_nationalities]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_users] FOREIGN KEY([createUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_users]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_users1] FOREIGN KEY([updateUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_users1]
GO
ALTER TABLE [dbo].[error]  WITH CHECK ADD  CONSTRAINT [FK_error_users] FOREIGN KEY([createUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[error] CHECK CONSTRAINT [FK_error_users]
GO
ALTER TABLE [dbo].[nationalities]  WITH CHECK ADD  CONSTRAINT [FK_nationalities_users] FOREIGN KEY([createUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[nationalities] CHECK CONSTRAINT [FK_nationalities_users]
GO
ALTER TABLE [dbo].[nationalities]  WITH CHECK ADD  CONSTRAINT [FK_nationalities_users1] FOREIGN KEY([updateUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[nationalities] CHECK CONSTRAINT [FK_nationalities_users1]
GO
ALTER TABLE [dbo].[setValues]  WITH CHECK ADD  CONSTRAINT [FK_setValues_setting] FOREIGN KEY([settingId])
REFERENCES [dbo].[setting] ([settingId])
GO
ALTER TABLE [dbo].[setValues] CHECK CONSTRAINT [FK_setValues_setting]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_countriesCodes] FOREIGN KEY([countryId])
REFERENCES [dbo].[countriesCodes] ([countryId])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_countriesCodes]
GO
ALTER TABLE [dbo].[userSetValues]  WITH CHECK ADD  CONSTRAINT [FK_userSetValues_setValues] FOREIGN KEY([valId])
REFERENCES [dbo].[setValues] ([valId])
GO
ALTER TABLE [dbo].[userSetValues] CHECK CONSTRAINT [FK_userSetValues_setValues]
GO
